<section id='our-work'>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="our-work">
          <h2>Our <span>Works</span></h2>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
          </p>
        </div>
      </div>
    </div>
    <div class="image-section">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img src="/assets/imgs/psd/image1.png" alt="image" class="rounded img-thumbnail">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img src="/assets/imgs/psd/image2.png" alt="image" class="rounded img-thumbnail">
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <img src="/assets/imgs/psd/image2.png" alt="image" class="rounded img-thumbnail">
        </div>
      </div>
    </div>
    <div class="show-button">
      <button class="btn btn-default">SHOW MORE</button>
    </div>
  </div>
</section>