@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '../../assets/styles.scss';
*{
    font-family: 'Open Sans',serif;
 }
 $caret-color:#151616;
 $white: #ffffff;
 $profileCardName:#3b434c;
 $color1: #f7600e;
 $color2: #3b434c;
 $color3: #dddddd;