<section id="first">
    <div class="overlay">
      <div class="container">
        <!-- Image and text -->
        <nav class="navbar ">
          <a class="navbar-brand" [routerLink]="['/']">
        <img src="/assets/imgs/psd/logo.png"  class="d-inline-block align-top" alt="logo">
        
      </a>
        </nav>
        <div class="row">
          <div class="jumbotron text-center jumbotron_1">
            <h1 class="">WE DESIGN <span>THINGS</span> </h1>
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </p>
  
          <p class="lead hire-us-section">
              <a class="btn  btn-lg hire-us" href="javascript:void(0)" role="button">HIRE US</a>
            </p>
  
            <div class='cirle-arrow-down '></div>
          </div>
        </div>
      </div>
    </div>
  </section>