<section id="three">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col col-md-12 mx-auto text-center">
          <h1 class="">Say<span>Hello</span> </h1>
          <p class="lead">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
        </div>
      </div>

      <div class="row">
        <form class="col-md-7 mx-auto form-container">
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="sr-only" for="email">Name</label>
              <input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" id="email" placeholder="Your Email">
            </div>
            <div class="col-md-6 form-group">
              <label class="sr-only" for="subject">Name</label>
              <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="subject" placeholder="Subject">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label class="sr-only" for="exampleTextarea">Example textarea</label>
                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Your Message"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-lg hire-us">Hire Us</button>
            </div>
          </div>
        </form>
        </div>

      </div>
    </div>
</section>