<div id='chat' [style.top.px]='y' [style.left.px]='x' [style.width.px]='width' [style.height.px]='height' (mousedown)='onWindowPress($event)'
    (mousemove)='onWindowDrag($event)'>
    <input id="chatBoxText" type="text" value='' 
    #chatBox placeholder={{placeHolder}}
     (keyup.enter)="onChatBox(chatBox)"
     (mousemove)='onchatBoxClick($event)'
    />
    <div (mousedown)='onCornerClick($event, topLeftResize)' id='chat-top-left-resize' class='chat-corner-resize'></div>
    <div (mousedown)='onCornerClick($event, topRightResize)' id='chat-top-right-resize' class='chat-corner-resize'></div>
    <div (mousedown)='onCornerClick($event, bottomLeftResize)' id='chat-bottom-left-resize' class='chat-corner-resize'></div>
    <div (mousedown)='onCornerClick($event, bottomRightResize)' id='chat-bottom-right-resize' class='chat-corner-resize'></div>
    <ul class="chatList">
        <li *ngFor="let chat of preChat">
            {{chat.text}}
        </li>
    </ul>
</div>